
 .hero {
    color: #FFE3DC
} 

.hero-image {
    margin: 1rem 3rem;
}
.hero-image img {
    height: 350px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 3rem;
}

.hero-title h1 {
    font-size: 6rem;
    font-family: 'Pacifico', cursive;
}

.hero-title h2 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.hero-title h3 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

canvas#back-canvas {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #00456B;
}
canvas#front-canvas {
    position: absolute;
    top: 0; 
}