.hero {
    background-color: #ffe3dc;
}
.hero .container {
    background-color: #ffe3dc;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-image {
    margin: 1rem 3rem;
}
.hero-image img {
    height: 25rem;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 3rem;
}

.hero-title h1 {
    font-size: 6rem;
    font-family: 'Pacifico', cursive;
}

.hero-title h2 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}