/*blue #00456B*/

body {
    background: #00456B;
    color: #00456B
}

img.profile {
    height: 13rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

div.profile {
    width: 32rem;
    background-color: white;
}




