.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: #ff996d;
  background-image: linear-gradient(to bottom left, #ff996d, #fec054);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  color: #00456b;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0;
}

.app-desc {
  color: #00456b;
}
